*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template-columns: 2;
    grid-template-areas: 
        "d d"
        "d d"
        "d d"
        "d d"
    ;
}

.dogcard{
    grid-template: "d";
}

.dogcard img{
    height: 400px;
}